{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block content %}

<div class="topbar">

    <div>
        <h1>Customers</h1>
        <p style="color:#9CA3AF;">
            All converted customers
        </p>
    </div>

</div>

<div class="table-container">

    <table>

        <thead>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Service</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

        {% if customers %}

            {% for customer in customers %}

            <tr>

                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>{{ customer[9] }}</td>

                <td class="action-buttons">

                    <a href="/lead/{{ customer[0] }}" class="view-btn">
                        <i class="fas fa-eye"></i> View
                    </a>

                </td>

            </tr>

            {% endfor %}

        {% else %}

            <tr>
                <td colspan="7" style="text-align:center;padding:40px;">
                    No Customers Available
                </td>
            </tr>

        {% endif %}

        </tbody>

    </table>

</div>

{% endblock %}